h1,h2,h3,th {
	font-family: arial;
	color: green;
} 

p, table,label {

	font-family: calibri;
	font-size: medium;
}

input[type=text] {
	text-align: justify;
    background: white;
    color: cyan;
    padding: 10px;
    border: 1px solid cyan;
}

body{background-color: lightgray;}

.im1{ 
	border-radius:75%;
	width: 200px; 
	height: 240px;
}

.navbar-nav{
	color: whitesmoke;
}